<template>
  <v-dialog
    v-model="dialog"
    max-width="512"
    scrollable
    @click:outside="close"
  >
    <v-card>
      <v-card-title class="headline">Info</v-card-title>

      <v-card-text>
        <v-list-item two-line class="pa-0">
          <v-list-item-content>
            <v-list-item-title>Name</v-list-item-title>
            <v-list-item-subtitle class="pt-2">{{ selectedPackage.name }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line class="pa-0">
          <v-list-item-content>
            <v-list-item-title>Scope</v-list-item-title>
            <v-list-item-subtitle class="pt-2">{{ selectedPackage.scope }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line class="pa-0">
          <v-list-item-content>
            <v-list-item-title>Version</v-list-item-title>
            <v-list-item-subtitle class="pt-2">{{ selectedPackage.version }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line class="pa-0">
          <v-list-item-content>
            <v-list-item-title>Description</v-list-item-title>
            <v-list-item-subtitle class="pt-2">{{ selectedPackage.description }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line class="pa-0">
          <v-list-item-content>
            <v-list-item-title>Keywords</v-list-item-title>
            <v-list-item-subtitle>
              <v-chip-group
                column
                active-class="primary--text"
              >
                <v-chip class="ma-2" v-for="keyword in selectedPackage.keywords"
                        :key="keyword + getRandomArbitraryFunc(1, 9999)">
                  {{ keyword }}
                </v-chip>
              </v-chip-group>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line class="pa-0">
          <v-list-item-content>
            <v-list-item-title>Date</v-list-item-title>
            <v-list-item-subtitle class="pt-2">
              {{ $moment(selectedPackage.date).format('MMMM Do YYYY, h:mm:ss a') }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line class="pa-0">
          <v-list-item-content>
            <v-list-item-title>Links</v-list-item-title>
            <v-list-item-subtitle>
              <v-row v-if="selectedPackage.links.npm" no-gutters>
                <v-col cols="12" sm="12" md="2">
                  <div class="pt-2 pb-2">
                    npm
                  </div>
                </v-col>
                <v-col cols="12" sm="12" md="10">
                  <div class="pt-2 pb-2">
                    <a :href="selectedPackage.links.npm" target="_blank">
                      {{ selectedPackage.links.npm }}
                    </a>
                  </div>
                </v-col>
              </v-row>
              <v-divider v-if="selectedPackage.links.npm"></v-divider>

              <v-row v-if="selectedPackage.links.homepage" no-gutters>
                <v-col cols="12" sm="12" md="2">
                  <div class="pt-2 pb-2">
                    homepage
                  </div>
                </v-col>
                <v-col cols="12" sm="12" md="10">
                  <div class="pt-2 pb-2">
                    <a :href="selectedPackage.links.homepage" target="_blank">
                      {{ selectedPackage.links.homepage }}
                    </a>
                  </div>
                </v-col>
              </v-row>
              <v-divider v-if="selectedPackage.links.homepage"></v-divider>

              <v-row v-if="selectedPackage.links.repository" no-gutters>
                <v-col cols="12" sm="12" md="2">
                  <div class="pt-2 pb-2">
                    repository
                  </div>
                </v-col>
                <v-col cols="12" sm="12" md="10">
                  <div class="pt-2 pb-2">
                    <a :href="selectedPackage.links.repository" target="_blank">
                      {{ selectedPackage.links.repository }}
                    </a>
                  </div>
                </v-col>
              </v-row>
              <v-divider v-if="selectedPackage.links.repository"></v-divider>

              <v-row v-if="selectedPackage.links.bugs" no-gutters>
                <v-col cols="12" sm="12" md="2">
                  <div class="pt-2 pb-2">
                    bugs
                  </div>
                </v-col>
                <v-col cols="12" sm="12" md="10">
                  <div class="pt-2 pb-2">
                    <a :href="selectedPackage.links.bugs" target="_blank">
                      {{ selectedPackage.links.bugs }}
                    </a>
                  </div>
                </v-col>
              </v-row>
              <v-divider v-if="selectedPackage.links.bugs"></v-divider>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line class="pa-0">
          <v-list-item-content>
            <v-list-item-title>Author</v-list-item-title>
            <v-list-item-subtitle class="pt-2">
              {{ selectedPackage.author.name }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line class="pa-0">
          <v-list-item-content>
            <v-list-item-title>Publisher</v-list-item-title>
            <v-list-item-subtitle>
              <v-row v-if="selectedPackage.links.bugs" no-gutters>
                <v-col cols="12" sm="12" md="3">
                  <div class="pa-0 pb-2 pt-2">
                    username
                  </div>
                </v-col>
                <v-col cols="12" sm="12" md="9">
                  <div class="pa-0 pb-2 pt-2">
                    {{ selectedPackage.publisher.username }}
                  </div>
                </v-col>
              </v-row>
              <v-row v-if="selectedPackage.links.bugs" no-gutters>
                <v-col cols="12" sm="12" md="3">
                  <div class="pa-0 pb-2 pt-2">
                    email
                  </div>
                </v-col>
                <v-col cols="12" sm="12" md="9">
                  <div class="pa-0 pb-2 pt-2">
                    {{ selectedPackage.publisher.email }}
                  </div>
                </v-col>
              </v-row>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item two-line class="pa-0">
          <v-list-item-content>
            <v-list-item-title>Maintainers</v-list-item-title>
            <template>
              <v-list-item-subtitle
                v-for="maintainer in selectedPackage.maintainers"
                :key="maintainer.username+maintainer.email"
              >
                <v-row v-if="maintainer.username" no-gutters>
                  <v-col cols="12" sm="12" md="3">
                    <div class="pa-0 pb-2 pt-2">
                      username
                    </div>
                  </v-col>
                  <v-col cols="12" sm="12" md="9">
                    <div class="pa-0 pb-2 pt-2">
                      {{ maintainer.username }}
                    </div>
                  </v-col>
                </v-row>
                <v-row v-if="maintainer.email" no-gutters>
                  <v-col cols="12" sm="12" md="3">
                    <div class="pa-0 pb-2 pt-2">
                      email
                    </div>
                  </v-col>
                  <v-col cols="12" sm="12" md="9">
                    <div class="pa-0 pb-2 pt-2">
                      {{ maintainer.email }}
                    </div>
                  </v-col>
                </v-row>
                <v-divider v-if="maintainer.username"></v-divider>
              </v-list-item-subtitle>
            </template>
          </v-list-item-content>
        </v-list-item>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="green darken-1"
          text
          @click="close"
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import getRandomArbitrary from '../helpers/getRandomArbitrary'

export default {
  props: [
    'dialog',
    'selectedPackage'
  ],
  data () {
    return {}
  },
  methods: {
    close () {
      this.$emit('close')
    },
    getRandomArbitraryFunc (min, max) {
      return getRandomArbitrary(min, max)
    }
  }
}
</script>
