<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title>
          Packages
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="packages"
          :search="search"
          :loading="isLoading"
          loading-text="Loading... Please wait"
          @click:row="rowClick"
        >
          <template v-slot:item.package.name="{ item }">
            {{ item.package.name }}
          </template>
          <template v-slot:item.package.version="{ item }">
            {{ item.package.version }}
          </template>
          <template v-slot:item.package.author="{ item }">
            {{ authorName(item.package.author) }}
          </template>
          <template v-slot:item.package.date="{ item }">
            {{ $moment(item.package.date).format('MMMM Do YYYY, h:mm:ss a') }}
          </template>
        </v-data-table>
      </v-card>
      <package-info-modal :dialog="dialog" :selected-package="selectedPackage" @close="closeModal"/>
    </v-flex>
  </v-layout>
</template>

<script>
import PackageInfoModal from '~/components/PackageInfoModal'
import refreshSelectedPackage from '@/helpers/refreshSelectedPackage'

export default {
  components: {
    PackageInfoModal
  },
  data () {
    return {
      dialog: false,
      search: '',
      isLoading: false,
      headers: [
        {
          text: 'Name',
          align: 'start',
          sortable: false,
          value: 'package.name'
        },
        { text: 'Version', value: 'package.version' },
        { text: 'Author', value: 'package.author' },
        { text: 'Datetime', value: 'package.date' }
      ],
      selectedPackage: {}
    }
  },
  computed: {
    packages () {
      return this.$store.getters.allPackages
    }
  },
  created () {
    this.selectedPackage = refreshSelectedPackage()
  },
  watch: {
    search: async function (searchText) {
      this.isLoading = true
      await this.$store.dispatch('getPackages', searchText)
      this.isLoading = false
    }
  },
  methods: {
    authorName (author) {
      if (author) {
        return author.name
      } else {
        return ''
      }
    },
    datetime (date) {
      return date
    },
    rowClick (e) {
      this.dialog = true
      this.selectPackage(e.package)
    },
    selectPackage (packageItem) {
      this.selectedPackage = refreshSelectedPackage()
      this.selectedPackage = Object.assign(this.selectedPackage, packageItem)
    },
    closeModal () {
      this.dialog = false
    }
  }
}
</script>
